[user]
	email = stingalleman@icloud.com
	name = Sting Alleman
	signingkey = F0093AF53D31BC67
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin//gpg
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = master
[pull]
	rebase = true
[credential]
	helper = cache
