[user]
	email = stingalleman@icloud.com
	name = Sting Alleman
	#signingkey = 400F66EB
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	#gpgsign = true
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = master
[pull]
	rebase = true
[credential]
	helper = cache
